<div class="side-bar">
    <h3>Info</h3>
    <a class="nav-button" id="sidebar-dashboard" href="/admin/dashboard">
        <p>Dashboard</p>
    </a>
    <a class="nav-button" id="sidebar-contests" href="/admin/contests">
        <p>Contests</p>
    </a>
    <a class="nav-button" id="sidebar-entries" href="">
        <p>Entries</p>
    </a>
    <a class="nav-button" id="sidebar-contestants" href="/contestants">
        <p>Contestants</p>
    </a>
    <% if (logged_in) { %>
        <a class="nav-button" id="sidebar-evaluations" href="/admin/evaluations/<%= evaluator_id %>">
            <p>Evaluations</p>
        </a>
    <% } %>
    <a class="nav-button" id="sidebar-results" href="">
        <p>Results</p>
    </a>
    <% if (permissions.view_all_tasks || permissions.view_judging_settings || permissions.view_all_users || permissions.view_errors || is_admin) { %>
        <h3>Admin</h3>
    <% } %>
    <% if (permissions.view_all_tasks || is_admin) { %>
        <a class="nav-button" id="sidebar-tasks" href="/admin/tasks">
            <p>Tasks</p>
        </a>
    <% } %>
    <% if (permissions.view_judging_settings || is_admin) { %>
        <a class="nav-button" id="sidebar-judging" href="/admin/judging">
	        <p>Judging</p>
	    </a>
    <% } %>
    <% if (permissions.view_all_users || is_admin) { %>
	    <a class="nav-button" id="sidebar-users" href="/admin/users">
	        <p>Users</p>
	    </a>
    <% } %>
    <% if (permissions.view_errors || is_admin) { %>
        <a class="nav-button" id="sidebar-errors" href="/admin/errors">
	        <p>Errors</p>
	    </a>
    <% } %>
</div>
