<div class="footer">
	<p class="footer-text"><a href="https://www.khanacademy.org/computer-programming/welcome-to-contests/5745407636209664" target="_blank">Khan Academy Contests Homepage</a> | <a href="https://github.com/KA-Challenge-Council/Bema#Bema" target="_blank">Contribute</a> | <a href="https://github.com/KA-Challenge-Council/Bema/issues" target="_blank">Report a Problem</a></p>
</div>
