.loading-spinner {
    display: block;
    margin: 0 auto;
}

.user.preview {
	overflow-wrap: break-word;
}

/* Styling for judging page */
.flagged-entry-actions i {
    margin-left: 15%;
}

.flagged-entry-actions i:first-child {
    margin-left: 0px;
}

/* Contests page styling */
.current-contest-tag {
    background-color: #1865f2;
    color: #ffffff;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.contest-images {
    display: flex;
}
