#contestant-search-results-table {
    margin-top: 20px;
}

#search-container input[type="submit"] {
    margin-left: 20px;
}

#no-results {
    display: block;
    margin-top: 20px;
}

#contestant-info {
    text-align: center;
}

#contestant-info .label {
    margin-right: 0px !important;
}

.big-number {
    font-size: 32px;
}

.stat-box {
    padding: 0px 20px;
}

#contestant-stat-container {
    display: flex;
    justify-content: center;
}

#contestant-entries-table {
    margin-top: 20px;
}

.disqualified-tag {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #d92916;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 5px;
}

.winner-tag {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #ffb100;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 5px;
}
