form {
    width: 55%;
}
form .row {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
}
form .form-input {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.form-input.tall-message-input {
    height: 100px;
}
form .form-actions {
    margin-top: 20px;
    justify-content: flex-end;
}
form .form-actions input:last-child {
    margin-right: 3px !important;
}
form input[type=checkbox] {
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(33,36,44,0.50);
    margin: 0px;
}
form .col-10 {
    width: 15%;
}
form .col-90 {
    width: 80%;
    margin-left: 5%;
}
form select {
    height: 33px;
    font-size: 16px;
}

/* jQuery UI datepicker */
.ui-datepicker .ui-widget-header {
    background-color: #ffffff !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #21242c;
}
.ui-datepicker thead {
    background-color: #ffffff !important;
}
.ui-datepicker th {
    background-color: inherit;
    color: #21242c;
}
.ui-datepicker tr {
    background-color: #ffffff !important;
}
.ui-datepicker td a {
    text-align: center;
    color: #21242c !important;
}
.ui-datepicker td a.ui-state-default {
    background-color: #f7f8fa !important;
}
.ui-datepicker td a.ui-state-highlight {
    border: 1px solid #1865f2 !important;
}
.ui-datepicker td a:hover {
    background-color: #1865f2 !important;
    color: #ffffff !important;
}
.ui-datepicker td a.ui-state-active {
    background-color: #1865f2 !important;
    color: #ffffff !important;
}

/* Responsive layout - when the screen is less than 600px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    form .row {
        flex-direction: row;
    }
    .col-10, .col-90, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
