.content-container {
    padding: 0 10%;
}
#message-section {
    margin-top: 50px;
}
.message-container {
    border-bottom: 1px solid rgba(33, 36, 44, 0.16);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}
.message-container:first-child, .task:first-child {
    padding-top: 0;
}
.message-container:last-child, .task:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.message-header h3 {
    margin: 0px;
}
.message-content {
    width: 85%;
    min-height: 100px;
}
.message-bottom {
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: 0px;
}
.message-meta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.message-author, .message-date, .message-public {
    font-size: 14px;
    margin: 5px 0;
}
#task-section {
    margin-top: 50px;
}
.task {
    border-bottom: 1px solid rgba(33, 36, 44, 0.16);
    padding-bottom: 20px;
}
