#main-header {
    margin: 0px;
}

/***** KB Home styling *****/
.article-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article-preview {
    font-size: 22px;
    border-bottom: 2px solid rgba(33, 36, 44, 0.16);
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 8px;
}
.article-preview a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.article-preview a:hover {
    text-decoration: underline;
}
.draft-tag {
    font-size: 14px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 10px;
}

/***** Article page styling *****/
#article-container .preview {
    margin: auto;
}
.article-meta {
    border-top: 2px solid rgba(33, 36, 44, 0.16);
}
