/* CSS for the green sidebar on all admin pages */

/* Green sidebar div */
.side-bar {
    background: #ffffff;
    min-width: 250px;
    border-right: 1px solid rgba(33, 36, 44, 0.16);
}
.side-bar > .loading-spinner {
    margin: 250px auto;
}
/* Button links in sidebar */
.nav-button {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    color: #21242c;
    text-decoration: none;
    max-width: 250px;
}
.nav-button.hidden {
    display: none !important;
}
.nav-button p {
    width: 100%;
    margin: 0;
}
.nav-button i {
    width: 35px;
    padding: 0 6px 0 0;
    text-align: center;
    font-size: 16px;
    vertical-align: sub;
}
.nav-button.selected {
    color: #1865f2;
    background-color: #f7f8fa;
}
/* Hover style for buttons not selected */
.nav-button:hover {
    background: #f7f8fa;
    color: #1865f2;
    cursor: pointer;
}
