<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Knowledge Base | Challenge Council</title>
    <%- include ../../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/knowledge-base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">

    <!-- Main Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ../../partials/header %>
    <div class="page-container">
        <div class="content-container" id="view-article-page">
            <div class="content-header">
            </div>
            <div class="previews-container" id="article-container">
                <img src="/static/images/new-loading-spinner.svg" class="loading-spinner" id="article-spinner">
            </div>
        </div>
        <% if (permissions.edit_kb_content || is_admin) { %>
            <div class="content-container" id="edit-article-page" hidden>
                <div class="content-header">
                    <h2>Edit Article</h2>
                </div>
                <form id="edit-article-form" onsubmit="return editArticle(event)">
                    <input class="form-input" type="hidden" id="article_id" name="article_id">
                    <div class="row">
                        <div class="col-10">
                            <label for="article_name">Article Name</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="article_name" name="article_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="article_content">Content</label>
                        </div>
                        <div  class="text-editor col-90">
                            <div id="edit-article-editor">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="article_visibility">Visibility</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="article-visibility-input" name="article_visibility" value="Admins Only" hidden>
                            <div class="custom-select" id="article-visibility-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('article-visibility-dropdown');">Admins Only<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>
                                    <a href="#" onclick="setSelectValue('article-visibility', 'Public', 'Public');">Public</a>
                                    <a href="#" onclick="setSelectValue('article-visibility', 'Evaluators Only', 'Evaluators Only');">Evaluators Only</a>
                                    <a href="#" onclick="setSelectValue('article-visibility', 'Admins Only', 'Admins Only');">Admins Only</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="article_section">Section</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="article-section-input" name="article_section" value="null" hidden>
                            <div class="custom-select" id="article-section-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('article-section-dropdown');">Choose Section<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="is_published">Published</label>
                        </div>
                        <div class="col-90">
                            <input type="checkbox" name="is_published">
                        </div>
                    </div>
                    <div class='row form-actions'>
                        <a href="#" class="btn-secondary" onclick="showPage('view-article-page')">Cancel</a>
                        <input type='submit' class="btn-primary" value='Save'>
                    </div>
                </form>
            </div>
        <% } %>
    </div>
    <%- include ../../partials/footer %>
</body>
<script src="/static/js/knowledge-base/article.js"></script>
</html>
