<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Contestants | Challenge Council</title>
    <%- include ../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/contestants.css">
</head>

<body>
    <%- include ../partials/header %>

    <div class="page-container">
        <%- include ../partials/adminSidebar %>

        <div class="content-container" id="view-contestant">
            <div class="content-header">
                <h2>
                    Contestant Profile
                </h2>
            </div>
            <div class="previews-container">
                <div class="preview col-12 standard">
                    <div class="preview-content">
                        <div id="contestant-info" hidden>
                            Stats Go Here
                        </div>
                        <img id="contestant-entries-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                        <table id="contestant-entries-table" hidden>
                            <thead>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Contest</th>
                                <th>Level</th>
                                <th>Avg Score</th>
                            </thead>
                            <tbody id="contestant-entries-table-body">
                                <!-- Contestant Entries -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Page container -->

    <%- include ../partials/footer %>
</body>
<script src="/static/js/contestantProfile.js"></script>
<script src="/static/js/adminSidebar.js"></script>
</html>
