<!DOCTYPE HTML>
<html>
    <head>
        <title>Login | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="stylesheet" type="text/css" href="/static/css/header.css">
        <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
        <link rel="stylesheet" type="text/css" href="/static/css/general.css">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>

    <body>
        <%- include ../partials/header %>
        <div class="center vertical">
            <div class="center horizontal">
                <div id="welcome-message">
                    <h1>Good to see you again!</h1>
                </div>
                <div id="form-container">
                    <h1 id="form-header">Login</h1>
                    <form class="admin-form" id="login-form" method="post" onSubmit="return submitForm(event)">
                        <div class="login-row">
                            <label for="username">Username</label>
                            <input class="form-input login-input" type="text" name="username" value="">
                        </div>
                        <div class="login-row">
                            <label for="password">Password</label>
                            <input class="form-input login-input" type="password" name="password" value="">
                        </div>
                        <input id="login-button" type="submit" name="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/general.js"></script>
    <script src="/static/js/login.js"></script>
</html>
