<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin | Challenge Council</title>
    <%- include ../../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
</head>

<body>

    <%- include ../../partials/header %>

    <div class="page-container">
        <%- include ../../partials/adminSidebar %>

        <div class="content-container" id="view-tasks-page">
            <div class="content-header">
                <h2>Tasks</h2>
                <% if (permissions.edit_all_tasks || is_admin) { %>
                    <span id="add-task-btn" class="btn-primary" onclick="showCreateTaskForm();">Create Task</span>
                <% } %>
            </div>
            <div class="preview col-12 standard">
                <div class="db-header">
                    <p>Incomplete Tasks</p>
                </div>
                <div id="incomplete-tasks-table" class="preview-content">
                    <table>
                        <thead>
                            <th>Task Description</th>
                            <th style="width: 10%">Due Date</th>
                            <th style="width: 15%">Assigned Member</th>
                            <th style="width: 10%">Status</th>
                            <% if (permissions.edit_all_tasks || permissions.delete_all_tasks || is_admin) { %>
                                <th style="width: 1%"></th>
                            <% } %>
                        </thead>
                        <tbody id="incomplete-tasks-table-body">
                            <!-- incomplete tasks -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="preview col-12 standard">
                <div class="db-header collapsable">
                    <p>Completed Tasks</p>
                </div>
                <div id="completed-tasks-table" class="collapsable-content closed preview-content">
                    <table>
                        <thead>
                            <th>Task Description</th>
                            <th style="width: 10%">Due Date</th>
                            <th style="width: 15%">Assigned Member</th>
                            <th style="width: 10%">Status</th>
                            <% if (permissions.edit_all_tasks || permissions.delete_all_tasks || is_admin) { %>
                                <th style="width: 1%"></th>
                            <% } %>
                        </thead>
                        <tbody id="completed-tasks-table-body">
                            <!-- completed tasks -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <% if (permissions.edit_all_tasks || is_admin) { %>
            <div class="content-container" id="create-task-page" hidden>
                <div class="content-header">
                    <h2>Add Task</h2>
                </div>
                <form id="add-task-form" onSubmit="return addTask(event)">
                    <div class="row">
                        <div class="col-10">
                            <label for="task_title">Task</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="task_title" name="task_title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="due_date">Due Date</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="due_date" name="due_date" placeholder="MM-DD-YYYY">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="assigned_member">Assigned Member</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="assigned-member-input" name="assigned_member" value="null" hidden>
                            <div class="custom-select" id="assigned-member-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('assigned-member-dropdown');">Available for Sign Up<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>
                                    <a href="#" onclick="setSelectValue('assigned-member', 'null', 'Available for Sign Up');">Available for Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="task_status">Status</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="status-input" name="task_status" value="Not Started" hidden>
                            <div class="custom-select" id="status-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('status-dropdown');">Not Started<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>
                                    <a href="#" onclick="setSelectValue('status', 'Not Started', 'Not Started');">Not Started</a>
                                    <a href="#" onclick="setSelectValue('status', 'Started', 'Started');">Started</a>
                                    <a href="#" onclick="setSelectValue('status', 'Completed', 'Completed');">Completed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-actions">
                        <a href="#" class="btn-secondary" onclick="showPage('view-tasks-page')">Cancel</a>
                        <input class="btn-primary" type="submit" value="Save">
                    </div>
                </form>
            </div>
            <div class="content-container" id="edit-task-page" hidden>
                <div class="content-header">
                    <h2>Edit Task</h2>
                </div>

                <form id="edit-task-form" onsubmit="return editTask(event)">
                    <div class="row">
                        <input type="hidden" id="edit_task_id" name="edit_task_id">
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_task_title">Task</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="edit_task_title" name="edit_task_title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_due_date">Due Date</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="edit_due_date" name="edit_due_date" placeholder="MM-DD-YYYY">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_assigned_member">Assigned Member</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="edit-assigned-member-input" name="edit_assigned_member" value="null" hidden>
                            <div class="custom-select" id="edit-assigned-member-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('edit-assigned-member-dropdown');">Available for Sign Up<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>
                                    <a href="#" onclick="setSelectValue('edit-assigned-member', 'null', 'Available for Sign Up');">Available for Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_task_status">Status</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="edit-status-input" name="edit_task_status" value="null" hidden>
                            <div class="custom-select" id="edit-status-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('edit-status-dropdown');">Not Started<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>
                                    <a href="#" onclick="setSelectValue('edit-status', 'Not Started', 'Not Started');">Not Started</a>
                                    <a href="#" onclick="setSelectValue('edit-status', 'Started', 'Started');">Started</a>
                                    <a href="#" onclick="setSelectValue('edit-status', 'Completed', 'Completed');">Completed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-actions">
                        <a href="#" class="btn-secondary" onclick="showPage('view-tasks-page')">Cancel</a>
                        <input class="btn-primary" type="submit" value="Save">
                    </div>
                </form>
            </div>
        <% } %>
    </div>
    <%- include ../../partials/footer %>
</body>
<script src="/static/js/admin/tasks.js"></script>
<script src="/static/js/adminSidebar.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $('#due_date, #edit_due_date').datepicker({
            dateFormat: "mm-dd-yy"
        });
    });
</script>
</html>
